.container {
  display: flex;
}

.container .buttons {
  flex-basis: auto;
}

.container .input,
.container input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container .buttons button {
  padding: 0 0.6rem;
  font-size: 0.9rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.refresh {
  stroke-width: 10px;
}
